/* Large devices (desktops, less than 1200px) */
/* // Small devices (landscape phones, 576px and up) */
@media (max-width:576px) {

    /* Header */

    header {
        height: 1200px;
    }
    .header-container {
        width: 100%;
        height: 1200px;
    }
    header .header {
        padding: 20px 0px !important;
    }
    header .header-container .navbar .content .navigation {
        display: none;
    }
    header .header-container .navbar .content .actions {
        display: none;
    }
    header .header-container .header img {
        height: 200px;
    }
    header .header .text {
        width: 80%;
    }
    header .header-container .header .notebook {
        padding: 100px 0px !important;
        
    }

    /* Features */

    .features-container .content .image img {
        height: 350px;
        width: 350px;
    }
     
    #features .feature-text {
        width: 300px;
    }

    .features-container .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-container .content .text {
        width: 300px;   
    }

    /* Buttons */

    .buttons-container .text {
        width: 300px;
        margin-bottom: 30px;
    }

    /* NewsLetter */

    #newsletter {
        height: 1100px;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    .news-container .block .action-block .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        
    }
    .news-container .block .action-block .action * {
        width: 300px;
    }
    .news-container .block .action-block .action *:first-child {
        margin-bottom: 15px;
        margin-right: 0; 
    }
    .news-container .block .action-block .title *{
        text-align: center !important;
    }
    .news-container .block .text {
        text-align: center !important;
        width: 350px;
    }
    .news-container .image img {
        width: 350px;
    }


    /* Partners */

    #partners {
        height: 1200px;
    }
    .partners-container .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .partners-container .icons * {
        padding: 15px;
    }
    .partners-container .icons *:nth-last-child(-n+2) {
        display: none;
    }
    .partners-container .text {
        width: 350px;
        text-align: center;
    }

    #testimonials {
        height: 2600px;
    }
    .testimonials-container .items .row:last-child {
        display: none;
    }
    .testimonials-container .items .row {
        flex-direction: column;
    }
    .testimonials-container .items .card {
        margin: 50px 0px;
    }



    #price {
        height: 800px;
    }
    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;  
        padding: 0px;
        width: 100%;
    }
    .price-container .column:first-child {
        margin-bottom: 25px;
    }
    .price-container .column  .text p {
        width: 350px;
        text-align: center;
        font-weight: 400;
    }
    .price-container .column  .text  {
        width: 350px;
    }
    .price-container .column  .text h1 {
        text-align: center;
        margin-bottom: 25px;
        width: 350px;
    }
    .price-container .column h4 {
        text-align: center;
        margin-bottom: 25px;
        width: auto;
    }
    .price-container .column .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
    }
    .price-container .column  {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
    }



    .contact-container .form {
        width: 240px;
    }
    .contact-container .map *:first-child {
        display: none;
    }
    .contact-container .map *:last-child {
        width: 300px;
    }
    .contact-container .text-icons {
        flex-direction: column;
        width: 350px;
    }





    #footer {
        height: 1500px;
    }
    .footer-container { 
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-container .row:first-child {
        flex-basis: unset;
        flex-direction: column;
    }.footer-container .row:last-child {
        flex-basis: unset;
    }
    .footer-container .row:last-child .action-block h3,p {
        text-align: center;
    }
    .footer-container .row:last-child .icons{
       display: flex;
       justify-content: center;
    }
    .footer-container .row:first-child .icons{
        display: flex;
        justify-content: center;
    }
    .footer-container .row:first-child .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0px;
    }
    .footer-container .row:first-child .menu .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 576px) and (max-width:767px) {

    /* Header */

    header {
        height: 1200px;
    }
    .header-container {
        width: 100%;
        height: 1200px;
    }
    header .header-container .navbar .content .navigation {
        display: none;
    }
    header .header-container .navbar .content .actions {
        display: none;
    }
    header .header-container .header img {
        height: 300px;
    }
    header .header .text {
        width: 80%;
    }

    header .header-container .header .notebook {
        padding: 0px !important
        
    }
    /* Features */

    .features-container .content .image img {
        height: 400px;
    }
     
    
    .features-container .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-container .content .text {
        width: 400px;
    }

    /* Buttons */

    .buttons-container .text {
        width: 400px;
    }

    /* NewsLetter */

    #newsletter {
        height: 1100px;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    .news-container .block .action-block .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .news-container .block .action-block .action * {
        width: 300px;
    }
    .news-container .block .action-block .action *:first-child {
        margin-bottom: 15px;
        margin-right: 0; 
    }
    .news-container .block .action-block .title *{
        text-align: center !important;
    }
    .news-container .block .text {
        text-align: center !important;
    }
    .news-container .image img{
        width: 350px;
    }


    /* Partners */

    #partners {
        height: 1200px;
    }

    .partners-container .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .partners-container .icons * {
        padding: 25px;
    }
    .partners-container .icons *:nth-last-child(-n+2) {
        display: none;
    }


    #testimonials {
        height: 2600px;
    }
    .testimonials-container .items .row:last-child {
        display: none;
    }
    .testimonials-container .items .row {
        flex-direction: column;
    }
    .testimonials-container .items .card {
        margin: 50px 0px;
    }



    #price {
        height: 800px;
    }
    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;  
    }
    .price-container .column:first-child {
        margin-bottom: 25px;
    }
    .price-container .column  .text p {
        width: 400px;
        text-align: center;
        font-weight: 400;
    }
    .price-container .column  .text h1 {
        text-align: center;
        margin-bottom: 25px;
    }
    .price-container .column h4 {
        text-align: center;
        margin-bottom: 25px;
        width: auto;
    }
    .price-container .column .block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-container .map *:first-child {
        display: none;
    }
    .contact-container .text-icons {
        flex-direction: column;
        width: 400px;
    }




    #footer {
        height: 1500px;
    }
    .footer-container { 
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-container .row:first-child {
        flex-basis: unset;
        flex-direction: column;
    }.footer-container .row:last-child {
        flex-basis: unset;
    }
    .footer-container .row:last-child .action-block h3,p {
        text-align: center;
    }
    .footer-container .row:last-child .icons{
       display: flex;
       justify-content: center;
    }
    .footer-container .row:first-child .icons{
        display: flex;
        justify-content: center;
    }
    .footer-container .row:first-child .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0px;
    }
    .footer-container .row:first-child .menu .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width:767px) and (max-width:991px) {

    /* Header */

    header {
        height: 1300px;
    }
    .header-container {
        width: 100%;
        height: 1300px;
    }
    header .header-container .navbar .content .navigation {
        display: none;
    }
    header .header-container .navbar .content .actions {
        display: none;
    }

    header .header {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding: 115px 10px 0 10px;
    }

    header .header-container .header img {
        height: 350px;
    }

    header .navbar {
        padding: 20px;
        flex-direction: row;
        align-items: center;
    }

    header .navbar .content {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    /* Features */

    #features {
        height: 1200px;
    }

    .features-container .content .image img {
        height: 550px;
    }

    .features-container .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-container .content .text {
        width: 450px;
    }

    /* NewsLetter */

    #newsletter {
        height: 1050px;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
    .news-container .block .action-block .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .news-container .block .action-block .action * {
        width: 300px;
    }
    .news-container .block .action-block .action *:first-child {
        margin-bottom: 15px;
        margin-right: 0; 
    }
    .news-container .block .action-block .title *{
        text-align: center !important;
    }
    .news-container .block .text {
        text-align: center !important;
    }
    .news-container .image img {
        width: 500px;
    }

    /* Partners */
    #partners {
        height: 1200px;
    }
    .partners-container .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .partners-container .icons * {
        padding: 25px;
    }

    /* Testimonials */

    #testimonials {
        height: 2600px;
    }
    .testimonials-container .items .row:last-child {
        display: none;
    }
    .testimonials-container .items .row {
        flex-direction: column;
    }
    .testimonials-container .items .card {
        margin: 50px 0px;
    }

    /* Price */

    #price {
        height: 800px;
    }
    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;  
    }
    .price-container .column:first-child {
        margin-bottom: 25px;
    }
    .price-container .column  .text p {
        width: 400px;
        text-align: center;
        font-weight: 400;
    }
    .price-container .column  .text h1 {
        text-align: center;
        margin-bottom: 25px;
    }
    .price-container .column h4 {
        text-align: center;
        margin-bottom: 25px;
        width: auto;
    }
    .price-container .column .block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-container .map *:first-child {
        display: none;
    }


    #footer {
        height: 1200px;
    }
    .footer-container { 
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-container .row:first-child {
        flex-basis: unset;
    }.footer-container .row:last-child {
        flex-basis: unset;
    }

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 991px) and (max-width:1200px) { 

    /* Header */

    header {
        height: 1350px;
    }
    .header-container {
        width: 100%;
        height: 1350px;
    }
    header .header-container .navbar .content {
        width: 100%;
        justify-content: flex-end;
    }

    header .header-container .navbar .content .navigation {
        display: none;
    }

    header .header-container .header img {
        height: 450px;
    }

    /* Features */

    .features-container .content .image img {
        height: 550px;
    }

     /* Newsletter */

     #newsletter {
         height: 1000px;
     }
     .news-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    .news-container .block .action-block .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .news-container .block .action-block .action * {
        width: 300px;
    }
    .news-container .block .action-block .action *:first-child {
        margin-bottom: 15px;
        margin-right: 0; 
    }
    .news-container .block .action-block .title *{
        text-align: center !important;
    }
    .news-container .block .text {
        text-align: center !important;
    }

    .testimonials-container .items .row .card:nth-child(2) {
        display: none;
    }
    .contact-container .map *:last-child {
        display: none;
    }





    #footer {
        height: 1200px;
    }
    .footer-container { 
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-container .row:first-child {
        flex-basis: unset;
    }.footer-container .row:last-child {
        flex-basis: unset;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1400px) {
    .hamburger {
        display: none;
    }
    .features-container .content .image img {
        height: 625px;
    }
    .testimonials-container .items .row .card:nth-child(2) {
       display: none;
    }
   
    .contact-container .form {
        width: 875px;
    }
    .contact-container .map *:last-child {
        display: none;
    }
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .hamburger {
        display: none;
    }
    .contact-container .form {
        width: 875px;
    }
    .contact-container .map *:last-child {
        display: none;
    }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) and (max-width:1600px) {
    .hamburger {
        display: none;
    }
    .features-container .content .image img {
        height: 800px;
    }
    .contact-container .form {
        width: 875px;
    }
}
