
/* Header */

header {
    width: 100%;
    height: 1450px;
    background-image: url('../pics/gradient.svg');
    background-position: top;
    background-size: cover;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1450px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 250px);
    margin-left: 10px;
}
.navigation {
    display: flex;
    margin-right: 50px;
}
.navigation a {
    padding: 5px 10px;
}
.hamburger {
    margin-left: 10px;
    display: flex;
}
.button {
    padding: 15px 35px;
    border-radius: 35px;
}
.input {
    padding: 15px 35px;
    border-radius: 35px;
    margin-right: 15px; 
}
.color-primary{
    color: var(--color-primary);
}
.color-text-light a{
    color:var(--text-light)
}
.actions {
    display: flex;
}
.actions button {
    font-weight: 500 !important;
}
.header-container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    margin: 10px 0px;
}
.header-container .header .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.header-container .header .try-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 60px 0px 0px;
}
.header-container .header .notebook {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px
}
.header-container .header .text * {
    color: var(--text-light);
}
.header-container .header .text h4 {
    margin-top: 15px;
}

/* Features */

#features {
    height: 1100px;
}
#features .feature-text {
    width: 400px;
}
#features .feature-text * {
    padding-bottom: 20px;
}
.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-container .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.features-container .content .image img {
   height: 900px;
}
.features-container .content .text {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.features-container .content .text .block:first-child {
    margin-bottom: 100px;
}
.features-container .content .text .title {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 20px;
}
.features-container .content .text .title h3 {
    margin-left: 15px;
}

/* Buttons */

#buttons {
    height: 520px;
    background: var(--background-gradient) ;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.buttons-container .text {
    margin-bottom: 90px;
}
.buttons-container .text * {
    color: var(--text-light);
    padding-bottom: 20px;
}
.buttons-container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons-container .buttons button {
    font-weight: 500;
}
.buttons-container .buttons button:first-child {
   margin-right: 15px;
}
.transparent-button {
    padding: 14px 35px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;
    color: var(--text-light);
    background: transparent;
    font-weight: 500;
}

    /* Newsletter */

#newsletter {
    height: 840px;
}
.news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.news-container .block .text {
    width: 400px;
}
.news-container .block .text *{
    text-align: unset !important;
    padding-bottom: 25px;
}
.news-container .block .action-block .title *{
    text-align: unset !important;
}
.news-container .block .action-block .title {
    padding-bottom: 30px ;
}
.news-container .block .action-block .action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.news-container .block .action-block .action input {
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    padding: 19px 39px;
    margin-right: 10px ;
 }
.news-container .block .action-block .action button {
   background-color: var(--color-primary);
   color: var(--text-light);
   font-weight: 500 !important;
}

/* Partners */

#partners {
    height: 630px ;
}
.partners-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.partners-container .action button {
    background: var(--color-primary);
    color: var(--text-light);
    font-weight: 500;
}
.partners-container .icons {
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.partners-container .text {
    width: 400px;
    text-align: center;
}